export PORT=:3333
export SECRET=dasfsdfad7a8sf6as8f7dfasfa9sf6
export DSN=postgres://root:71883@localhost:5432/app?sslmode=disable
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING=postgres://root:71883@localhost:5432/app?sslmode=disable
export GOOSE_MIGRATION_DIR=./internal/db/migrations
